services:
  jenkins-controller:
    build: ./jenkins-controller
    container_name: jenkins-controller
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
    networks:
      - jenkins-network
  jenkins-java-agent:
    build: ./jenkins-java-agent
    container_name: jenkins-java-agent
    restart: unless-stopped
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins-network

networks:
  jenkins-network:
    driver: bridge

volumes:
  jenkins-data:
